@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Lato:wght@400;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	background-color: #c4c4c4;
}
h2,
h3,
p,
li,
button,
input {
	font-family: "Lato", sans-serif;
}
h1 {
	font-family: "Dosis", sans-serif;
	font-size: 48px;
}
h2,
button {
	font-size: 36px;
}
h3,
input {
	font-size: 30px;
}
